.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store


# remove builds
_book/
_bookdown_files/*.pdf
chapterFiles/appendix_predPreyExample/plots/.png
chapterFiles/appendix_paleoExample/plots/*.png
*.pdf
*.md
  

# remove log files
myDissertation.log
*.log



# remove rdata
*.RData
*.rdx
*.rdb


# remove temp data



*.feather
*.png
*.png
chapterFiles/binningChap/bbs_raw_data/README.txt/README.txt
