.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
_book/myDissertation.pdf
_book/myDissertation.tex
_bookdown_files/.DS_Store
_bookdown_files/thesis_cache/html/__packages
_bookdown_files/thesis_cache/html/pressure_3013115460bb103f59c1d48dcac2f961.RData
_bookdown_files/thesis_cache/html/pressure_3013115460bb103f59c1d48dcac2f961.rdb
_bookdown_files/thesis_cache/html/pressure_3013115460bb103f59c1d48dcac2f961.rdx
_bookdown_files/thesis_cache/latex/__packages
_bookdown_files/thesis_cache/latex/pressure_25293cdac8eae1a4e2086266bdb915b8.RData
_bookdown_files/thesis_cache/latex/pressure_25293cdac8eae1a4e2086266bdb915b8.rdb
_bookdown_files/thesis_cache/latex/pressure_25293cdac8eae1a4e2086266bdb915b8.rdx
_bookdown_files/thesis_files/figure-latex/2D-hist-1.pdf
_bookdown_files/thesis_files/figure-latex/delaysboxplot-1.pdf
_bookdown_files/thesis_files/figure-latex/distSpeedAccel-1.pdf
_bookdown_files/thesis_files/figure-latex/kTrajectories-1.pdf
_bookdown_files/thesis_files/figure-latex/march3plot-1.pdf
_bookdown_files/thesis_files/figure-latex/pp1Period-1.pdf
_bookdown_files/thesis_files/figure-latex/pressure-1.pdf
data/flights.csv
myDissertation.log
R.gitignore
