.Rproj.user
.Rhistory
.RData
.Ruserdata
# Ignore Mac DS_Store files
**/.DS_Store
.DS_Store


# remove builds
!_book/
_bookdown_files/
!myDissertation/chapterFiles/fiGuide/figures/
chapterFiles/appendix_predPreyExample/plots/.png
chapterFiles/appendix_paleoExample/plots/*.png
chapterFiles/appendix_paleoExample/plots/*.png
*.pdf
*.md
# Ignore all pngs except those called in dissertation (hopefully)
*.png 
!figsCalledInDiss/*.png 
# remove log files
*.log

# ignore generated html files,
*.html

# remove rdata
*.RData
*.rdx
*.rdb


# ignore  files
*.feather
chapterFiles/binningChap/bbs_raw_data
chapterFiles/rsdmReview/gScholar_20190204.csv
*.CPG
*.dbf
*.prj
*.sbn
*.sbx
*.shp
*.xml
*.shx
*.DS_Store

# Do not remove images called in dissertation from file.
!**/figsCalledInDiss
!/figsCalledInDiss

# But remove pngs created that aren't called in diss
chapterFiles/**/figures/*.png
chapterFiles/***/figures/*.png
/figures/*.png

# Keep the rendered .pdf copy
!_book
myDissertation_cache/latex/tab
myDissertation_cache/latex/__packages
myDissertation.out
myDissertation.aux
myDissertation.lof
myDissertation.lot
myDissertation.tex
myDissertation.toc
myDissertation.Rmd
_book/_myDissertation.tex
Backup of randomWriting_needToIncorporate.wbk
_book/_myDissertation.tex
chapterFiles/appendix_predPreyExample/pred_prey_example.html
